@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap');

:root {
    --primary-color: #0DAB0C;
    --light-primary-color: #0DAB0C;
    --dark-primary-color: #189718;
    --dark-shadow-color: #18971814;
    --sdark-shadow-color: #18971828;
    --scroll-primary-color: #0c980c;
    --scroll-light-primary-color: #0DAB0C;
    --scroll-dark-primary-color: #106210;
    --dark-bg-color: #1C1C1C;
    --grey-bg-color: #393838;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: var(--dark-bg-color);
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}